<!--<link rel="stylesheet" href="../../css/basestyles.css" type="text/css">-->
<link rel="stylesheet" href="/css/styles.css" type="text/css">
<div ng-controller="authCtrl">

  <div class="container-fluid">
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="navbar-header">
            <div class="navbar-brand">
              <a ui-sref="home">Coastline</a>

            </div>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left" role="search">
              <li><a ui-sref="about">About</a>
              </li>
              <li><a href="#getting-started">Getting Started</a>
              </li>
              <li><a href="pricing">Pricing</a>
              </li>
              <li><a href="contact">Contact Us</a>
              </li>
            </ul>

            <!-- Brand and toggle get grouped for better mobile display -->

            <ul class="nav navbar-nav navbar-right">

              <li><a data-ng-show="$storage.token" ui-sref="login">{{$storage.token[0]}}</a>
              </li>
              <li><a data-ng-show="$storage.token" ui-sref="home">Logout</a>
              </li>
              <li><a data-ng-hide="$storage.token" ui-sref="login">Login</a>
              </li>
              <li><a data-ng-hide="$storage.token" ui-sref="signUp">Sign Up</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>

  <div class="container-fluid wrap1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="selection">
            <div class="panel panel-primary">
              <div class="panel-heading">Filter Criteria</div>
              <div class="panel-body">

                <form class="form-inline" role="form" ng-controller="authCtrl" ng-submit="login()">



                  <div class="form-group">
                    <label for="">Location: </label>
                    <input type="" class="form-control" id="" ng-model="" placeholder="">


                    <label for="">Type of Seafood(s): </label>
                    <input type="" class="form-control" id="" ng-model="" placeholder="">

                    <label for="">Name: </label>
                    <input type="" class="form-control" id="" ng-model="" placeholder="">
                  </div>

                  <div class="form-group">
                    <label for="">Sort By:</label>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optradio" checked> Relevance </label>
                      <label>
                        <input type="radio" name="optradio"> Name </label>
                      <label>
                        <input type="radio" name="optradio"> Proximity </label>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>


                </form>


              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">Seafood Sources</div>
              <div class="panel-body">

                <p>Fisherman 1</p>
                <p>Information about fisherman 1</p>
                <p>Fisherman 2</p>
                <p>Information about fisherman 2</p>
                <p>Fisherman 3</p>
                <p>Information about Fisherman 3</p>
                <p>Fisherman 4</p>
                <p>Information about fisherman 4</p>
                <p>Fisherman 5</p>
                <p>Information about fisherman 5</p>
                <p>Fisherman 6</p>
                <p>Information about Fisherman 6</p>

              </div>
            </div>


          </div>
        </div>
        <!--
<div class="col-lg-8">
  <h1>Google Maps integration</h1>
  <h2></h2>
</div>
-->

      </div>
    </div>
  </div>
</div>