<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li ng-click="setToHome()" ng-class="homeStyle"><a href="javascript:void(0)">Home</a>
    </li>
    <li ng-click="setToOrders()" ng-class="ordersStyle"><a href="javascript:void(0)">My Orders</a>
    </li>
    <li ng-click="setToStore()" ng-class="storeStyle"><a href="javascript:void(0)">My Store</a>
    </li>
    <li ng-click="setToMessages()" ng-class="messagesStyle"><a href="javascript:void(0)">My Messages</a>
    </li>
  </ul>
</div>
