<div ng-controller="transactionDetailCtrl" id="page-wrapper">


  <div class="row">
    <div class="col-xs-6">
      <h1>
        Order #{{getRef(order)}}
      </h1>
    </div>
    <div class="col-xs-6 text-right">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Customer: <a href="#">{{getName(order)  }}</a></h4>
        </div>
        <div class="panel-body">
          <p>
            Address
            <br> details
            <br> more
            <br>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-5 col-xs-offset-2 text-right">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>To : <a href="#">Client Name</a></h4>
        </div>
        <div class="panel-body">
          <p>
            Address
            <br> details
            <br> more
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- / end client details section -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <h4>Product</h4>
        </th>
        <th>
          <h4 class="text-center">Quantity</h4>
        </th>
        <th>
          <h4 class="text-center">Unit Price</h4>
        </th>
        <th>
          <h4 class="text-center">Subtotal</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in order.products">
        <td>{{product.name}}</td>
        <td class="text-right">{{product.quantity + " " + product.units}}</td>
        <td class="text-right">${{product.unitPrice}}/{{product.units}}</td>
        <td class="text-right">${{product.quantity * product.unitPrice}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row text-right">
    <div class="col-xs-2 col-xs-offset-8">
      <p>
        <strong>
          Total:
        </strong>
      </p>
    </div>
    <div class="col-xs-2">
      <strong>
        ${{order.totalAmount}}
      </strong>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Bank details</h4>
        </div>
        <div class="panel-body">
          <p>Your Name</p>
          <p>Bank Name</p>
          <p>SWIFT : --------</p>
          <p>Account Number : --------</p>
          <p>IBAN : --------</p>
        </div>
      </div>
    </div>
    <div class="col-xs-7">
      <div class="span7">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4>Contact Details</h4>
          </div>
          <div class="panel-body">
            <p>
              Email : you@example.com
              <br>
              <br> Mobile : --------
              <br>
              <br> Twitter : <a href="https://twitter.com/tahirtaous">@TahirTaous</a>
            </p>
            <h4>Payment should be made by Bank Transfer</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
