<div ng-controller="transactionDetailCtrl" id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Order #{{getRef(order)}}</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <p>Buyer Name: {{order.buyerFirstName + " " + order.buyerLastName}}</p>
            <p>Payment Method: {{getPaymentMethod(order)}}</p>
            <p>Status: {{getStatus(order)}}</p>
            <p>Date Received: {{getDateInitialized(order)}}</p>
            <p>Date Fulfilled: {{getDateFulfilled(order)}}</p>
            <p>Total Amount: {{getTotalAmount(order)}}</p>



            <p>
              <button type="button" class="btn btn-success" ng-click="fulfillOrder(order.ref)">I have transferred the goods</button>
            </p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>

        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

</div>
